.wrapper{
	overflow: hidden;
	position: relative;
	min-height: 100%;
	padding: 50px;
}
[class*="__page"]{
	max-width: 1000px;
	margin: 0 auto;
}
.title-text-lesson-9 {
	margin: 10px auto;
	padding: 20px;
	border: 2px solid red;
	font-size: 50px;
	font-weight: 900;
	border-radius: 30px;
	text-align: center;
	background-color: rgba(137, 43, 226, 0.308);
}
.item-lesson{
	margin: 0 170px;
}
.item-lesson--2{
	margin: 0 250px;
}